{
    "websocket": {
        "hostname": "${WEBSOCKET_HOSTNAME}",
        "port": 37036
    },
    "hermes": {
        "hostname": "${HERMES_HOSTNAME}",
        "port": 9872
    },
    "cloudService": {
        "hostname": "${SPINUP_SERVICE_HOSTNAME}",
        "port": ${SPINUP_SERVICE_PORT}
    }
}
