{  
    "DEFAULT_ADC_LIST_PORT": 10050,
    "DEFAULT_ADC_TIMECODE_PORT": 10080,
    "DEFAULT_SWITCHER_PORT": 8890,
    "DEFAULT_ICONSTATION_PORT": 9889,
    "DEFAULT_ICONSTATION_PREVIEW_PORT": 9891,
    "DEFAULT_LRC_HOST_PORT": 52116,
    "DEFAULT_REDUNDANCY_PORT": 8090,
    "DEFAULT_ICONSTATION_WEB_SERVICE_PORT": 7872
}