{
    "DEFAULT_TARGET": "g1",
    "TICK_INTERVAL_MS": 50,
    "LAYERS": 10,
    "PING_INTERVAL_MS": 5000,
    "INSTANCES_FIRST": false,
    "BREAKPOD_THROTTLE_MS": 2000,
    "HOT_SWIZZLE": true,
    "PRE_TAKE": true,
    "USE_CRM": false,

    "MC_PANEL": {
        "SOURCES_PER_ROW": 16
    },

    "SPORTS_PANEL": {
        "SOURCES_PER_ROW": 16
    },

    "NDI_BUS": {
        "ALIAS": "Key + Fill"
    }
}
